
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */

a {
  text-decoration: none;
}


/*本文以下*/
html{
    background-color: #00995E;
}

body{
    justify-content: center;
}

/*整體內容置中*/
.introducepage{
    margin: 0 auto;
    padding: 0 ;
    width: 100%;
    justify-content: center;
    display: flex;
}

/*header處平行*/
.inc{
    display: flex;
 }

.inner{
    margin-top: 105px;
    margin: 40px;
}

.inner img{
    height:84px;
    width: 172px;
}

.sign {
    width: 109px;
    height: 45px;
    padding-top: 80px ;
    padding-left: 20px;
}

.sign .simg{
    width: 109px;
    height: 45px;
}


.introducepage .log_a {
    all: unset;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    padding: 90px 0px 60px 60px;
}

.introducepage .log_a a{
    color: #ffffff;
}


.gnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    margin-top: 45px;
}

.gnav ul li {
    width: 186px;
    height: 83px;
}

.gnav ul li a {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    text-align: center;
    width: 186px;
    height: 83px;
}

.gnav ul .point a {
    background-image: url('../img/point_button.png');
    right: 110px;
    top: 410px;
    background-size: 186px 83px; 
}
  
.gnav ul .test a {
    background-image: url('../img/test_button.png');
    right: 410px;
    top: 410px;
    background-size: 186px 83px; 
}
  
.gnav ul .introduce a{
    background-image: url('../img/introduce_button.png');
    right: 700px;
    top: 410px;
    background-size: 186px 83px; 
}
  
#container{
    width: 1126px;
    height: 1900px;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 60px;
    box-shadow: 5px 4px 4px #00000040;
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 

}

#container .ctn_bg{
    padding-top: 20px;
}

.ctn_bg .til{
    font-weight: 700;
    color: #00995e;
    font-size: 28px;
    white-space: nowrap;
    font-family: "Inter", Helvetica;
    line-height: normal;
    text-align: center;
}

.ctn_bg .itdc_text{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: left;
    padding-left: 250px;
    padding-right: 250px;
    line-height: 3;
}

.use_txt{
    place-items: center; 
    margin-top:30px ;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 250px;
    margin-right: 250px;
    gap: 25px; 
    grid-template-areas:
        'img1 tetxt'
        'img2 poitxt'
        'img3 sigtxt'
        'img4 logtxt'
}

.use_txt .txt{
    line-height: 2;
    text-align: left;
}

.use_txt .img1 {
    width: 194px;
    height: 91px;
    grid-area: 'img1';
}

.use_txt .img2 {
    width: 194px;
    height: 91px;
    grid-area: 'img2';
}

.use_txt .img3 {
    width: 118px;
    height: 53px;
    grid-area: 'img3';
}

.use_txt .img4{
    width: 95px;
    height: 24px;
    grid-area: 'img4';
}


.use_txt .test_text{
    grid-area: 'tetxt';
}

.use_txt .point_text{
    grid-area: 'poitxt';
}

.use_txt .sign_text{
    grid-area: 'sigtxt';
}

.use_txt .login_text{
    grid-area: 'logtxt';
}

.ctn_bg {
    text-align: center;
}


.ctn_bg .userimg {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 20px;
}



.ctn_bg .itdc{
    margin-top: 30px;
    line-height: 3;
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
}


footer{
    padding: 50px;
    text-align: center;
}

footer p{
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

